body {
  background-color: #e3e0cf;
  
}

/* NAV BAR */
/*============================================================================================================================================================================== ==============================================================================================================================================================================*/

/* .nav-li{
  color: black;
  margin: 1rem;
  font-size: larger;
}

.nav-li:hover{
  color: blue;
} */

.nav-li {
  background-image: 
  linear-gradient(
    transparent 0%,
    transparent 90%,
    #34495e 90%,
    #34495e 100%
  );
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;
  transition: background-size 300ms;
  margin: 1rem;
  font-size: larger;
  color: #34495e;
  font-weight: bold;
}

.nav-li:hover {
  background-size: 100% 100%;
  background-position-x: left;
}

a{
  text-decoration: none;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3
 {
	color: #34495e;
}


.logo {
  background-image: 
  linear-gradient(
    transparent 0%,
    transparent 90%,
    #34495e 90%,
    #34495e 100%
  );
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;
  transition: background-size 300ms;
  color: #333;
  margin: 0 0 0 1rem;
}

.logo:hover {
  background-size: 100% 100%;
  background-position-x: left;
}

.main-nav {
	margin-top: 5px;
}
.logo,
.main-nav {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav {
	color: #34495e;
	font-size: .99em;
}

.main-nav {
	color: #718daa;
}



.header {
	/* padding-top: .5em;
	padding-bottom: .5em; */
	border: 1px solid #a2a2a2;
	background-color: #c5d5cb;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
    margin: none;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}
/*============================================================================================================================================================================== ==============================================================================================================================================================================*/








/* HOME PAGE SQUARES */
/*============================================================================================================================================================================== ==============================================================================================================================================================================*/
#square-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

#grid-container{
  margin: auto;
  height:400px;
  background-color:#e3e0cf;
  display:grid;
  grid-template-columns: 250px 250px;
  grid-row: auto auto;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.box-work{
    background-color:#f6f6f8;
    padding:20px;
    border-radius:10px;
    color:#34495e;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:40px;
    font-family:sans-serif;
    text-align: center;
}
.box-work:hover{
  background-color: #333;
  font-size: 45px;
}

.box-education{
  background-color:#c4c4c6;
  padding:20px;
  border-radius:10px;
  color:#34495e;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:40px;
  font-family:sans-serif;
  text-align: center;
}
.box-education:hover{
  background-color: #333;
  font-size: 45px;
}

.box-projects{
  background-color:#626263;
  padding:20px;
  border-radius:10px;
  color:#fff;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:40px;
  font-family:sans-serif;
  text-align: center;
}
.box-projects:hover{
  background-color: #333;
  font-size: 45px;
}

.box-moreAboutMe{
  background-color: #939394;
  padding:20px;
  border-radius:10px;
  color:#fff;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:40px;
  font-family:sans-serif;
  text-align: center;
}
.box-moreAboutMe:hover{
  background-color: 
  #333;
  font-size: 45px;
}



.homeLinks{
  color: #34495e;
}
/* ================ */
#resumeLink-home{
  color: #1c1f30;
}
#resumeLink-home:hover{
  color: #cbb6a1;
}
/* ================ */
#projectLink-home{
color: #616060;
}
#projectLink-home:hover{
  color: #cbb6a1;
  }
/* =============== */
#educationLink-home{
  color: #cbb6a1;
}
/* ================ */
#aboutmeLink-home{
  color: #4f4f4e;
}
#aboutmeLink-home:hover{
  color: #cbb6a1;
}

/*============================================================================================================================================================================== ==============================================================================================================================================================================*/




/* PROJECT PAGE */
/*============================================================================================================================================================================== ==============================================================================================================================================================================*/

.projects_container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}


.projectList{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.projects-header{
  margin: 2rem 0 0 0 ;
  font-family: 'Raleway', monospace;
  font-size: 60px;
  color: black;
  text-decoration: underline solid 4px;
}

.project-title{
  font-family: 'Raleway', monospace;
  font-size: 30px;
  color: black;
  text-decoration: underline solid 4px;
}

.project-title:hover{
  font-family: 'Raleway', monospace;
  font-size: 30px;
  color: black;
  text-decoration: underline solid 4px;
  cursor: pointer;
}
.project_p{
  margin: 1rem;
  text-indent: 2rem;
  font-family: 'Raleway', monospace;
  font-size: 25px;
  color: black;
}
.project-title-in-p{
  font-style: italic;
  font-weight: 1000;
}

.project-div{
  margin: 3rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:50rem;

}

/* .project-img-container{
  width: 200px;
  height: 100px;
} */
.project-img{
  margin: 1rem 0 0 0;
  width: 50rem;
  height: 30rem;
}




/*============================================================================================================================================================================== ==============================================================================================================================================================================*/




/* ABOUT ME PAGE */
/*============================================================================================================================================================================== ==============================================================================================================================================================================*/
.aboutMeTitleDiv{
  height: 7rem;
  border: black solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.columContainerAboutMe{
  border: black solid 2px;
  display: flex;
  width: 100vw;
  height: 1000vh;
}

.colum1-AboutMe{
  border: black solid 2px;
  width: 45%;
  margin: 0 0 0 4rem;
  padding: 10rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.colum2-AboutMe{
  border: black solid 2px;
  width: 10%;
}

.colum3-AboutMe{
  border: black solid 2px;
  width: 45%;
  margin: 0 4rem 0 0 ;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


/* The flip card container */
.flip-card {
  background-color: transparent;
  width: 500px;
  height: 400px;
  /* border: 1px solid #f1f1f1; */
  margin: 5rem 0 5rem 0;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
/*============================================================================================================================================================================== ==============================================================================================================================================================================*/







/* EDUCATION PAGE */
/*============================================================================================================================================================================== ==============================================================================================================================================================================*/

.columContainerEducation{
  border: black solid 2px;
  display: flex;
  width: 100vw;
  height: 1000vh;
}

.educationTitle{
  height: 7rem;
  border: black solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colum1-education{
  border: black solid 2px;
  width: 45%;
  margin: 0 0 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.colum2-education{
  border: black solid 2px;
  width: 45%;
  margin: 0 0 0 4rem;
  padding: 10rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.highschoolDiv-education{
  border: red solid 2px;
}

.postCollegeDiv-education{
  border: red solid 2px;
}

.collegeDiv-education{
  border: red solid 2px;
}


/*============================================================================================================================================================================== ==============================================================================================================================================================================*/